.form {
	position: fixed;
	bottom: 140px;
	right: 10px;

	border-radius: 10px;
	background-color: white;
	z-index: 1;
}

.addButton {
	position: fixed;
	bottom: 80px;
	right: 20px;
	z-index: 1;
	border-radius: 50%;
}

