.buttonRide {
	position: absolute;
	bottom: 55px;
	width: 110px;
	left: calc(100% - 50% - 55px);
	z-index: 1;
}
.buttonRideActive {
	background: #8ed072;
	transition: background 2s;
}

.buttonAdd {
	position: absolute;
	bottom: 80px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	opacity: 0.8;
	right: 15px;
	z-index: 1;
}
